<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.medical.mapper.CostOutpatientRechargeRecordMapper">

    <resultMap type="CostOutpatientRechargeRecord" id="CostOutpatientRechargeRecordResult">
        <result property="id" column="id"/>
        <result property="money" column="money"/>
        <result property="type" column="type"/>
        <result property="createTime" column="createTime"/>
        <result property="outpatientId" column="outpatientId"/>
        <association property="tmd" javaType="TMedicalDo">
            <id column="myId" property="id"/>
            <result column="doUser" property="doUser"/>
            <result column="doTime" property="doTime"/>
            <result column="doId" property="doId"/>
            <result column="doType" property="doType"/>
        </association>
    </resultMap>

    <sql id="selectCostOutpatientRechargeRecordVo">
        select id, money, type, createTime, outpatientId from t_medical_cost_outpatient_recharge_record
    </sql>

    <sql id="selJoin">
        select ta.id, money, type, createTime, outpatientId,td.id myId,td.doUser,td.doTime,td.doId,td.doType from t_medical_cost_outpatient_recharge_record ta,t_medical_do td where td.doType = 2 and ta.id = td.doId
    </sql>

    <select id="selectCostOutpatientRechargeRecordList" parameterType="CostOutpatientRechargeRecord"
            resultMap="CostOutpatientRechargeRecordResult">
        <include refid="selJoin"/>
        <if test="money != null ">and money = #{money}</if>
        <if test="type != null ">and type = #{type}</if>
        <if test="createTime != null ">and createTime = #{createTime}</if>
        <if test="outpatientId != null  and outpatientId != ''">and outpatientId = #{outpatientId}</if>
    </select>

    <select id="selectCostOutpatientRechargeRecordById" parameterType="String"
            resultMap="CostOutpatientRechargeRecordResult">
        <include refid="selJoin"/>
        and id = #{id}
    </select>

    <insert id="insertCostOutpatientRechargeRecord" parameterType="CostOutpatientRechargeRecord">
        insert into t_medical_cost_outpatient_recharge_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="money != null">money,</if>
            <if test="type != null">type,</if>
            <if test="createTime != null">createTime,</if>
            <if test="outpatientId != null">outpatientId,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="money != null">#{money},</if>
            <if test="type != null">#{type},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="outpatientId != null">#{outpatientId},</if>
        </trim>
    </insert>

    <update id="updateCostOutpatientRechargeRecord" parameterType="CostOutpatientRechargeRecord">
        update t_medical_cost_outpatient_recharge_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="money != null">money = #{money},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="outpatientId != null">outpatientId = #{outpatientId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCostOutpatientRechargeRecordById" parameterType="String">
        delete from t_medical_cost_outpatient_recharge_record where id = #{id}
    </delete>

    <delete id="deleteCostOutpatientRechargeRecordByIds" parameterType="String">
        delete from t_medical_cost_outpatient_recharge_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>