<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.medical.mapper.CostOutpatientInfoMapper">
    <resultMap type="CostOutpatientInfo" id="base">
        <result property="id" column="id"/>
        <result property="money" column="money"/>
        <result property="enableTime" column="enableTime"/>
        <result property="lossTime" column="lossTime"/>
        <result property="deadTime" column="deadTime"/>
        <result property="returnTime" column="returnTime"/>
        <result property="status" column="status"/>
        <result property="deposit" column="deposit"/>
        <result property="personid" column="personid"/>
    </resultMap>

    <resultMap type="CostOutpatientInfo" extends="base" id="CostOutpatientInfoResult">
        <association property="tmd" javaType="TMedicalDo">
            <id column="myId" property="id"/>
            <result column="doUser" property="doUser"/>
            <result column="doTime" property="doTime"/>
            <result column="doId" property="doId"/>
            <result column="doType" property="doType"/>
        </association>
        <association property="cpa" javaType="CostPersonArchives">
            <result property="id" column="cpaId"/>
            <result property="name" column="name"/>
            <result property="age" column="age"/>
            <result property="code" column="code"/>
            <result property="sex" column="sex"/>
        </association>
    </resultMap>

    <sql id="selectCostOutpatientInfoVo">
        select id, money, enableTime, lossTime, deadTime, returnTime, status, deposit, personid from t_medical_cost_outpatient_info
    </sql>

    <sql id="selJoin">
        select ta.id, money, enableTime, lossTime, deadTime, returnTime, status, deposit, personid ,td.id myId,td.doUser,td.doTime,td.doId,td.doType,tp.name,tp.code
        from t_medical_cost_outpatient_info ta,t_medical_do td,t_medical_cost_person_archives tp
        where td.doType = 1 and ta.id = td.doId and ta.personid = tp.id
    </sql>

    <select id="selectCostOutpatientInfoList" parameterType="CostOutpatientInfo" resultMap="CostOutpatientInfoResult">
        <include refid="selJoin"/>
        <if test="money != null ">and money = #{money}</if>
        <if test="enableTime != null ">and enableTime = #{enableTime}</if>
        <if test="lossTime != null ">and lossTime = #{lossTime}</if>
        <if test="deadTime != null ">and deadTime = #{deadTime}</if>
        <if test="returnTime != null ">and returnTime = #{returnTime}</if>
        <if test="status != null ">and status = #{status}</if>
        <if test="personid != null">and personid = #{personid}</if>
    </select>

    <select id="selectCostOutpatientInfoById" parameterType="Long" resultMap="CostOutpatientInfoResult">
        <include refid="selJoin"/>
        and ta.id = #{id}
    </select>

    <select id="selectByPersonid" parameterType="String" resultMap="base">
        <include refid="selectCostOutpatientInfoVo"/>
        where personid = #{personid} and status = 1
    </select>

    <insert id="insertCostOutpatientInfo" parameterType="CostOutpatientInfo">
        insert into t_medical_cost_outpatient_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="money != null">money,</if>
            <if test="enableTime != null">enableTime,</if>
            <if test="lossTime != null">lossTime,</if>
            <if test="deadTime != null">deadTime,</if>
            <if test="returnTime != null">returnTime,</if>
            <if test="status != null">status,</if>
            <if test="deposit != null">deposit,</if>
            <if test="personid != null">personid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="money != null">#{money},</if>
            <if test="enableTime != null">#{enableTime},</if>
            <if test="lossTime != null">#{lossTime},</if>
            <if test="deadTime != null">#{deadTime},</if>
            <if test="returnTime != null">#{returnTime},</if>
            <if test="status != null">#{status},</if>
            <if test="deposit != null">#{deposit},</if>
            <if test="personid != null">#{personid},</if>
        </trim>
    </insert>

    <update id="updateCostOutpatientInfo" parameterType="CostOutpatientInfo">
        update t_medical_cost_outpatient_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="money != null">money = #{money},</if>
            <if test="enableTime != null">enableTime = #{enableTime},</if>
            <if test="lossTime != null">lossTime = #{lossTime},</if>
            <if test="deadTime != null">deadTime = #{deadTime},</if>
            <if test="returnTime != null">returnTime = #{returnTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deposit != null">deposit = #{deposit},</if>
            <if test="personid != null">personid = #{personid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCostOutpatientInfoById" parameterType="Long">
        delete from t_medical_cost_outpatient_info where id = #{id}
    </delete>

    <delete id="deleteCostOutpatientInfoByIds" parameterType="String">
        delete from t_medical_cost_outpatient_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>