<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.medical.mapper.OutpatientdoctorResultMapper">

    <resultMap type="OutpatientdoctorResult" id="base">
        <result property="opDoctorResultId" column="opDoctorResultId"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="remark" column="remark"/>
        <result property="opDoctorReceiveRecordId" column="opDoctorReceiveRecordId"/>
    </resultMap>

    <resultMap type="OutpatientdoctorResult" extends="base" id="OutpatientdoctorResultResult">
    </resultMap>

    <sql id="selectOutpatientdoctorResultVo">
        select opDoctorResultId, name, description, remark, opDoctorReceiveRecordId from t_medical_outpatientdoctor_result
    </sql>

    <select id="selectOutpatientdoctorResultList" parameterType="OutpatientdoctorResult"
            resultMap="OutpatientdoctorResultResult">
        <include refid="selectOutpatientdoctorResultVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''">and description = #{description}</if>
            <if test="opDoctorReceiveRecordId != null  and opDoctorReceiveRecordId != ''">and opDoctorReceiveRecordId =
                #{opDoctorReceiveRecordId}
            </if>
        </where>
    </select>

    <select id="selectOutpatientdoctorResultByOpDoctorResultId" parameterType="String"
            resultMap="OutpatientdoctorResultResult">
        <include refid="selectOutpatientdoctorResultVo"/>
        where opDoctorResultId = #{opDoctorResultId}
    </select>

    <select id="selectByOpDoctorReceiveRecordId" parameterType="String"
            resultMap="base">
        <include refid="selectOutpatientdoctorResultVo"/>
        where opDoctorReceiveRecordId = #{id}
    </select>

    <insert id="insertOutpatientdoctorResult" parameterType="OutpatientdoctorResult">
        insert into t_medical_outpatientdoctor_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="opDoctorResultId != null">opDoctorResultId,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="remark != null">remark,</if>
            <if test="opDoctorReceiveRecordId != null">opDoctorReceiveRecordId,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="opDoctorResultId != null">#{opDoctorResultId},</if>
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="remark != null">#{remark},</if>
            <if test="opDoctorReceiveRecordId != null">#{opDoctorReceiveRecordId},</if>
        </trim>
    </insert>

    <update id="updateOutpatientdoctorResult" parameterType="OutpatientdoctorResult">
        update t_medical_outpatientdoctor_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="opDoctorReceiveRecordId != null">opDoctorReceiveRecordId = #{opDoctorReceiveRecordId},</if>
        </trim>
        where opDoctorResultId = #{opDoctorResultId}
    </update>

    <delete id="deleteOutpatientdoctorResultByOpDoctorResultId" parameterType="String">
        delete from t_medical_outpatientdoctor_result where opDoctorResultId = #{opDoctorResultId}
    </delete>

    <delete id="deleteOutpatientdoctorResultByOpDoctorResultIds" parameterType="String">
        delete from t_medical_outpatientdoctor_result where opDoctorResultId in
        <foreach item="opDoctorResultId" collection="array" open="(" separator="," close=")">
            #{opDoctorResultId}
        </foreach>
    </delete>
</mapper>